{% if settings.show_header_customer %}
  {% if shop.customer_accounts_enabled %}
  <ul id="accounts">
    <li class="top-links">
      <a href="/pages/about">About
      </a>
    </li>
    <li class="top-links last">
      <a href="/pages/contact-us">Contact
      </a>|
    </li>
    {% if customer %}
    <li class="logout">
      Welcome {{ customer.first_name }} {{ '(Log out)' | customer_logout_link }}
    </li>
   
    <li class="account">
      <a href="/account">My Account</a>
    </li>
    {% else %}
    <li class="login">
      {% if settings.customer_login_dropdown %}
      <a id="loginButton" href="#"><label for="customer_email">Login</label></a>
     
      <!-- Customer Account Login -->
      <div id="loginBox" style="display: none;">
        {% form 'customer_login' %}
        
        <fieldset id="bodyBox">
          <fieldset>
            <label for="customer_email" class="label1">Email Address <span class="req">*</span></label>
            <input type="text" value="" name="customer[email]" id="customer_email" />
          </fieldset>
          {% if form.password_needed %}
          <fieldset>
            <label for="customer_password" class="label1">Password <span class="req">*</span></label>
            <input type="password" value="" name="customer[password]" id="customer_password" />
          </fieldset>
          {% endif %}
         
          <fieldset>
            <input class="btn_login" type="submit" value="Login" />
            <div class="regs_link">or {{ 'Create an account' | customer_register_link }}</div>
          </fieldset>
        </fieldset>
        {% endform %}
      </div><!-- /#customer-login -->
      
      <script type="text/javascript">
        
        jQuery(document).ready(function($) {
          loginPopup();
        });
        
        function loginPopup(){
          var button = $('#loginButton');
          var box = $('#loginBox');
          var form = $('#loginBox #customer_login');
          button.removeAttr('href');
          button.mouseup(function(login) {
            box.toggle();
            button.toggleClass('active');
          });
          form.mouseup(function() { 
            return false;
          });
          $(this).mouseup(function(login) {
            if(!($(login.target).parent('#loginButton').length > 0)) {
              button.removeClass('active');
              box.hide();
            }
          });
        }
        
      </script>
      {% else %}
      {{ 'Login' | customer_login_link }}
      {% endif %}
    </li>
    {% if shop.customer_accounts_optional %} 
    <li class="register">
      {{ 'Register' | customer_register_link }}
    </li>
    {% endif %}
    {% endif %}
  </ul>

  {% else %}
  	<span style="text-indent: -999em; visibility: hidden;">Not available</span>
  {% endif %}

{% else %}
  <span style="text-indent: -999em; visibility: hidden;">Not available</span>
{% endif %}