{% if settings.show_carousel %}
<div class="grid-container clearfix">
  <div class="grid-100 remove_padding clearfix" id="homepage-slideshow" >
    <a href=# id="cycle-prev"><i class="icon-chevron-left"></i></a> 
    <a href=# id="cycle-next"><i class="icon-chevron-right"></i></a>
    <div class="cycle-slideshow" data-cycle-fx="tileBlind" data-cycle-prev="#cycle-prev"
      data-cycle-next="#cycle-next" data-cycle-slides="> a" data-cycle-timeout="10000">
      
      {% if settings.show_carousel_item_1 %}
      {% if settings.carousel_item_1_link != empty %}
      <a href="{{ settings.carousel_item_1_link }}" style="display: block">
        <img src="{{ 'blank.gif' | asset_url }}" data-src="{{ 'carousel-item-1.jpg' | asset_url }}" class="unveil" alt="{{ settings.carousel_item_1_link }}" />
		<h2 class="text-overlay">{{ settings.carousel_item_1_alt }}</h2>
      </a>  
      {% else %}
      <img src="{{ 'blank.gif' | asset_url }}" data-src="{{ 'carousel-item-1.jpg' | asset_url }}" class="unveil" alt="{{ settings.carousel_item_1_link }}" />
      {% endif %}
      
      {% endif %}
      
      {% if settings.show_carousel_item_2 %}
      
      {% if settings.carousel_item_2_link != empty %}
      <a href="{{ settings.carousel_item_2_link }}">
        <img src="{{ 'blank.gif' | asset_url }}" data-src="{{ 'carousel-item-2.jpg' | asset_url }}" class="unveil" alt="{{ settings.carousel_item_2_link }}" />
        <h2 class="text-overlay">{{ settings.carousel_item_2_alt }}</h2>
      </a>
      {% else %}
      <img src="{{ 'blank.gif' | asset_url }}" data-src="{{ 'carousel-item-2.jpg' | asset_url }}" class="unveil" alt="{{ settings.carousel_item_2_link }}" />
      {% endif %}
      {% endif %}
      
      {% if settings.show_carousel_item_3 %}
      {% if settings.carousel_item_3_link != empty %}
      <a href="{{ settings.carousel_item_3_link }}">
        <img src="{{ 'blank.gif' | asset_url }}" data-src="{{ 'carousel-item-3.jpg' | asset_url }}" class="unveil" alt="{{ settings.carousel_item_3_link }}" />
     	<h2 class="text-overlay">{{ settings.carousel_item_3_alt }}</h2>
      </a>
      {% else %}
      <img src="{{ 'blank.gif' | asset_url }}" data-src="{{ 'carousel-item-3.jpg' | asset_url }}" class="unveil" alt="{{ settings.carousel_item_3_link }}" />
      {% endif %}
      {% endif %}
      
      {% if settings.show_carousel_item_4 %}
      {% if settings.carousel_item_4_link != empty %}        
      <a href="{{ settings.carousel_item_4_link }}">
        <img src="{{ 'blank.gif' | asset_url }}" data-src="{{ 'carousel-item-4.jpg' | asset_url }}" class="unveil" alt="{{ settings.carousel_item_4_link }}" />
      	<h2 class="text-overlay">{{ settings.carousel_item_4_alt }}</h2>
      </a>
      {% else %}
      <img src="{{ 'blank.gif' | asset_url }}" data-src="{{ 'carousel-item-4.jpg' | asset_url }}" class="unveil" alt="{{ settings.carousel_item_4_link }}" />
      {% endif %}
      {% endif %}
      
      {% if settings.show_carousel_item_5 %}
      {% if settings.carousel_item_5_link != empty %}        
      <a href="{{ settings.carousel_item_5_link }}">
        <img src="{{ 'blank.gif' | asset_url }}" data-src="{{ 'carousel-item-5.jpg' | asset_url }}" class="unveil" alt="{{ settings.carousel_item_5_link }}" />
        <h2 class="text-overlay">{{ settings.carousel_item_5_alt }}</h2>
      </a>
      {% else %}
      <img src="{{ 'blank.gif' | asset_url }}" data-src="{{ 'carousel-item-5.jpg' | asset_url }}" class="unveil" alt="{{ settings.carousel_item_5_link }}" />
      {% endif %}
      {% endif %}
      
      {% if settings.show_carousel_item_6 %}
      {% if settings.carousel_item_6_link != empty %}      
      <a href="{{ settings.carousel_item_6_link }}">
        <img src="{{ 'blank.gif' | asset_url }}" data-src="{{ 'carousel-item-6.jpg' | asset_url }}" class="unveil" alt="{{ settings.carousel_item_6_link }}" />
        <h2 class="text-overlay">{{ settings.carousel_item_6_alt }}</h2>
      </a>
      {% else %}
      <img src="{{ 'blank.gif' | asset_url }}" data-src="{{ 'carousel-item-6.jpg' | asset_url }}" class="unveil" alt="{{ settings.carousel_item_6_link }}" />
      {% endif %}
      {% endif %}
      
    </div>    
  </div>
</div>

{% endif %}