{% if settings.nav_linklist != '' %}
<nav id="top-menu" class="hide-on-mobile hide-on-tablet">
  <ul class="menu">
    {% for link in linklists.[settings.nav_linklist].links %}
    <li class="{% if forloop.first %}first{% elsif forloop.last %}last{%endif%}{% if link.active %} current{% endif %}">
      {% assign child_list_handle_1 = link.title | handleize %}
      {% if linklists[child_list_handle_1].links != blank %}
      <div class="has-dropdown">
        <a href="{{ link.url }}" class="clearfix">
          <span class="nav-label">{{ link.title | escape }}</span>
          <span class="icon-caret-down"></span>
        </a>
        <ul class="submenu">
          {% for link_1 in linklists[child_list_handle_1].links %}
          <li {% if link_1.active %} class="current"{% endif %} {% if forloop.length == forloop.index %} class="submenu-last" {% endif%}>
            {% assign child_list_handle_2 = link_1.title | handleize %}
            {% if linklists[child_list_handle_2].links != blank %}
            <div class="has-dropdown">
              <a href="{{ link_1.url }}" class="clearfix">
                <span class="nav-label">{{ link_1.title | escape }}</span>
                <span class="icon-caret-down"></span>
              </a>
              <ul>
                {% for link_2 in linklists[child_list_handle_2].links %}
                <li><a href="{{ link_2.url }}">{{ link_2.title | escape }}</a></li>
                {% endfor %}
              </ul>
            </div>
            {% else %}
            <a href="{{ link_1.url }}">{{ link_1.title | escape }}</a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
      {% else %}
      {% if settings.mega_collection_linklist == link.handle %}
      <div class="has-dropdown">
        <a href="#" class="clearfix">
          <span class="nav-label">{{ link.title | escape }}</span>
          <span class="nav-arrows"></span>
        </a>
        <ul class="submenu">
          {% include 'mega-collection' %}
        </ul>
      </div>
      {% else %}
      <a href="{{ link.url }}">{{ link.title | escape }}</a>
      {% endif%}
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  <div class="clearfix" style="height: 0;"></div>
</nav>
{% endif %}