
<div am-Main-Menu-Outer>

  <nav am-Main-Menu>

    {% for link in linklists.main-menu.links %}
      <li am-Main-Menu-Link="active:{{ link.active }}">
        {% if link.type == 'collection_link' %}
          <a href="{{ link.object.url }}" >{{ link.object.title }}</a>
        {% else %}
          <a href="{{ link.url }}">{{ link.title }}</a>
        {% endif %}
      </li>
    {% endfor %}
  </nav>
</div>
