{% if paginate.pages > 1 %}
<div class="pagination clearfix">

  <ul>
    {% if paginate.previous %}
      <li class="page-prev"><a href="{{ paginate.previous.url }}">Previous</a></li>
    {% else %}
      <li class="page-prev disabled"><a href="#" onclick="return false;">Previous</a></li>
    {% endif %}
    
    {% for part in paginate.parts %}
      {% if part.is_link %}
        <li>{{ part.title | link_to: part.url }}</li>
      {% else %}
        {% if part.title == '&hellip;' %}
    	<li class="ellipsis disabled"><a href="#" onclick="return false;">{{ part.title }}</a></li>
        {% else %}
    <li class="active"><a>{{ part.title }}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}     

    {% if paginate.next %}
      <li class="page-next"><a href="{{ paginate.next.url }}">Next</a></li>
    {% else %}
      <li class="page-next disabled"><a href="#" onclick="return false;">Next</a></li>
    {% endif %}    
  </ul>


  <p class="pagination-num-showing">
  Showing: {{ paginate.current_offset | plus: 1 }}-{% if paginate.next %}{{ paginate.current_offset | plus: paginate.page_size }}{% else %}{{ paginate.items }}{% endif %} of {{ paginate.items }}
  </p>
</div>
{% endif %}
