{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}{% assign on_sale = true %}{% endif %}

<div am-Grid-Col>
  <a am-Product-Link  href="{{ product.url | within: collection }}" id="product-{{ forloop.index }}">
    <div am-Product-Img zddz-glitch-img data-img-src="{{ product.featured_image.src | product_img_url: 'large' }}" ZDDZ-in-stock="{{ product.available }}"> </div>
  </a>

  <div am-Product-Summary>
    <div am-Product-Title>{{ product.title }}</div>
    {% if product.available %}
    <div am-Product-Price="on-sale:{{ on_sale }}">{% if on_sale == true %}<del>{{ product.compare_at_price | money }}</del>&nbsp;{% endif %} {{ product.price | money }}</div>
    {% else %}
    <div am-Text="red">Sold out</div>
    {% endif %}
  </div>
</div>
