<div class="prod-item product-item thumbnail-fly">

  <div class="list-left thumbnail">
    <a href="{{ prod.url | within: collection }}" class="product-link" title="{{ prod.featured_image.alt | escape }}">
      <img src="{{ 'blank.gif' | asset_url }}" data-src="{{ prod.featured_image | product_img_url: 'large' }}" class="product-photo unveil" alt="{{ prod.featured_image.alt | escape }}" />
    </a>
    {% if prod.price_min < prod.compare_at_price_min %}
      	<span class="sale_banner">Sale</span>
    {% endif %}


  </div>

  <div class="list-right">
    <div class="prod-information">
      <div class="prod-title"><a href="{{ prod.url | within: collection }}">{{ prod.title }}</a></div>
      <span class="product-price{% if prod.compare_at_price > prod.price %} sale{% endif %}">
        {% if prod.available %}
          {% if prod.compare_at_price_max > prod.price %}

             {% assign found_one_in_stock = false %}
             {% for variant in prod.variants %}
        		<del class="price"> {{ variant.compare_at_price | money }}</del>
               {% if variant.available and variant.compare_at_price and found_one_in_stock == false %}
                 {% assign found_one_in_stock = true %}
                 <span class="price_sale">
                    {{ variant.price | money }}
                 </span>
               {% endif %}
             {% endfor %}

        	 {% if found_one_in_stock == false %}
               {% for variant in prod.variants %}
                 {% if variant.available and found_one_in_stock == false %}
                   {% assign found_one_in_stock = true %}
                   <span class="price">
                      {{ variant.price | money }}
                   </span>
                 {% endif %}
               {% endfor %}
        	 {% endif %}
          {% else %}
          <span class="price">
            {% if prod.price_varies %}
            {{ prod.price | money }}
            {% else %}
            {{ prod.price | money }}
            {% endif %}
          </span>
          {% endif %}
        {% else %}
        <span class="sold_out">Sold Out</span>
        {% endif %}
      </span>
      <div class="prod-desc-list">

         {% if prod.description contains '<!-- split -->' %}

        {{ prod.description | split: '<!-- split -->' | first | strip_html | truncate: 300 }}
        {% else %}

        {{ prod.description | strip_html | truncate: 300 }}

         {% endif %}
      </div>
    </div>
    {% if prod.available %}
      <form action="/cart/add" method="post" class="variants" enctype="multipart/form-data">
        <div class="wrapper clearfix">
          <select name="id" style="display:none" >
          {% if prod.compare_at_price_max > prod.price %}

             {% assign found_one_in_stock = false %}
             {% for variant in prod.variants %}
               {% if variant.available and variant.compare_at_price and found_one_in_stock == false %}
                 {% assign found_one_in_stock = true %}
                 {% assign found_variant_id = variant.id %}
                 {% break %}
               {% endif %}
             {% endfor %}

             {% if found_one_in_stock == false %}
               {% for variant in prod.variants %}
                 {% if variant.available and found_one_in_stock == false %}
                   {% assign found_one_in_stock = true %}
                   {% assign found_variant_id = variant.id %}
                   {% break %}
                 {% endif %}
               {% endfor %}
             {% endif %}

             {% for variant in prod.variants %}
               {% if variant.id == found_variant_id %}
                 <option selected="selected" value="{{ variant.id }}">{{ variant.title | escape }} - {{ variant.price | money }}</option>
               {% else %}
                 <option value="{{ variant.id }}">{{ variant.title | escape }} - {{ variant.price | money }}</option>
               {% endif %}
             {% endfor %}
          {% else %}
             {% assign found_one_in_stock = false %}
             {% for variant in prod.variants %}
               {% if variant.available and found_one_in_stock == false %}
                 {% assign found_one_in_stock = true %}
                 <option selected="selected" value="{{ variant.id }}">{{ variant.title | escape }} - {{ variant.price | money }}</option>
               {% else %}
                 <option value="{{ variant.id }}">{{ variant.title | escape }} - {{ variant.price | money }}</option>
               {% endif %}
             {% endfor %}
          {% endif %}
          </select>
        </div>

        <div class="selector-wrapper clearfix" style="display:none">
          <label>Quantity</label>
          <span class="qty-group">
            <input id="quantity" type="text" name="quantity" value="1" />
          </span>
        </div>
        <div class="product-ajax-cart">
          <a href="#quick-shop-modal" class="quick-shop-fancybox quick_shop {% if prod.price_min < prod.compare_at_price_min %} sale{% endif %} action_button" title="Quick Shop">
            <i class= "icon-eye-open"></i>
            <div class="product-json" style="display:none;">{{ prod | json }}</div>
          </a>
        </div>
        <button class="add-to-carts" type="submit" name="add" value="" title = "Add To Cart" /><i class="icon-shopping-cart"></i></button>
        <!-- /.options -->
      </form>
    {% else %}

  <button class="add-to-carts disabled" disabled="disabled" type="submit" name="add" value="" title = "Add To Cart" /><i class="icon-shopping-cart"></i></button>
    {% endif %}
  </div>
</div>
