<div class="sidebar-line padding-left remove_margin">
  <div id="customer_sidebar" class="remove_margin">
    <div class="title">Account Details</div>
    <div id="customer_detail" class="grid-container">
      <address class="address_info clearfix">
        <div class="name">
          <span class="i-author"><i class = "icon-user"></i></span>
          <span class="author">{{ customer.name }}</span>
          <span class="email">{{ customer.email }}</span>
        </div>
        
        <div class="address note">
          <span class="i-address"><i class = "icon-home"></i></span> 
          {% if customer.default_address != nil %}
          <span class="address1">{{ customer.default_address.address1 }}</span>
          {% if customer.default_address.address2 != "" %}
          <span class="address2">{{ customer.default_address.address2 }}</span>
          {% endif %}
          <span class="city">{{ customer.default_address.city}}, {% if address.province_code %}{{customer.default_address.province_code}}, {% endif %}{{customer.default_address.country}}</span>
          <span class="zip">{{ customer.default_address.zip}}</span>
          <span class="phone">{{ customer.default_address.phone }}</span>
          {% endif %}
        </div>
      </address>
      <a class="button2" id="view_address" href="/account/addresses">View Addresses ({{ customer.addresses_count }})</a>
    </div>
    <div class="action-bottom clearfix"></div>
  </div>

</div>