<div class="remove_margin">
  {% if(settings.blog_recent_show) %}
  <div class="border_bottom remove_margin">
    <div class="title">{{ settings.blog_recent_title }}</div>
    <div class="grid-container">
      {% for article in blog.articles limit:settings.blog_recent_number %}
      <div class="article-extras aside_group{% if forloop.length == forloop.index %} assid_group_last{% endif %} clearfix">
        <div class="stitle">{{ article.title | link_to: article.url }}</div>
        <p class="desc">{{ article.content | strip_html | truncatewords: 20 }}</p>
        <span class="date">Posted on <span class="ico-date"></span>{{ article.created_at | date: "%d %B , %Y" }}</span>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  {% if(settings.blog_tags_show) %}
  {% if blog.all_tags.size > 0 %}
  <div class="border_bottom remove_margin">
    <div class="title">{{ settings.blog_tags_title }}</div>
    <div class="grid-container">
      <ul class="widget_list asider-product-type">
        <li{% unless current_tags %} class="active"{% endunless %}><a href="{{ shop.url}}/blogs/{{ blog.handle }}/tagged/all">All</a>
          {% for tag in blog.all_tags %}
          {% if current_tags contains tag %}
          <li class="active">{{ tag | link_to_remove_tag: tag }}</li>
          {% else %}
          <li>{{ tag | link_to_add_tag: tag }}</li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}
    {% endif %}
    
    <script type="text/javascript">
 
      jQuery(document).ready(function() {

        harmonyAddClass('.asider .border_bottom', 'last');
      });
    </script>  
  </div>