<div id="col-main" class="full content">

  <div id="page-header">
    <h1 id="page-title">Shopping Cart</h1>
  </div>

  {% if cart.items == empty %} 
    <p class="cart empty">Your shopping cart is empty. Check out our <a href="/collections/all">catalog</a> to see what's available.</p>

  {% else %}
    <form action="/cart" method="post" id="cartform" class="clearfix">
      <div class="grid-container remove_padding">
        <div class="wrap-table">
          <table class="items">
            <colgroup>
              <col class="checkout-image" />
              <col class="checkout-info" />
              <col class="checkout-price" />
              <col class="checkout-quantity" />
              <col class="checkout-totals" />
              <col class="checkout-delete" />
            </colgroup>
            
            <thead>
              <tr class="top-labels">
                <th>&nbsp;</th>
                <th class="text-left">Item</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            
            <tbody>
              {% for item in cart.items %}
              <tr class="item {{ item.product.handle }}">
                <td class="img">
                  <a href="{{ item.product.url }}">
                    <img src="{{ item.product.featured_image | product_img_url: 'small' }}"  alt="{{ item.product.title }}" />
                  </a>
                </td>
                <td class="align-left td_description">
                  <a href="{{item.product.url }}">
                    <strong>{{ item.product.title }}</strong>
                    {% if item.product.variants.size > 1 %}
                    <span class="variant_title">{{ item.variant.title }}</span>
                    {% endif %}
                  </a>
                </td>
                <td class="price">{{ item.price | money }}</td>
                <td> <input class="text1 quantity" type="text" size="4" id="updates_{{ item.id }}" name="updates[]" value="{{ item.quantity }}" class="replace" /> </td>
                <td class="total">{{ item.line_price | money }}</td>
                <td><a class="remove" title="Remove" href="/cart/change?line={{ forloop.index }}&quantity=0"><i class = "icon-remove-circle"></i></a></td>
              </tr>
              {% endfor %}
            </tbody>
            
            <tfoot>
              <tr class="bottom-summary">
                <td colspan="3"></td>
                <td class="update-quantities"><input type="submit" id="update-cart" class="button2" name="update" value="Update Qty" /></td>
                <td class="subtotal">{{ cart.total_price | money }}</td>
                <td>&nbsp;</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      
      <div class="grid-container remove_padding">
        {% if settings.allow_note %}
        <div id="checkout-addnote" class="grid-50 tablet-grid-50 mobile-grid-100 remove_padding">
          <label for="note" class="label1"><a href="javascript:void(0);">Add a note for the seller</a></label>
          <textarea id="note" rows="5" class="textarea1 width1" name="note">{{ cart.note }}</textarea>
        </div>
        {% endif %}
        
        <div id="checkout-proceed" class="grid-50 tablet-grid-50 mobile-grid-100 remove_padding">
          <input class="button1" type="submit" name="checkout" value="Proceed to Checkout" />
          {% if additional_checkout_buttons %}
          <div id="additional-checkout-buttons">
            <span id="additional-checkout-buttons-label">Or check out using:</span>
            {{ content_for_additional_checkout_buttons }}
          </div>
          {% endif %}                       
        </div>
      </div>
    </form>
  {% endif %}

  {% include 'shipping-calculator' %}
</div><!--/#col-main -->