{% if settings.show_frontpage_hero == true %}
<!--START BANNER-->
<div class="twelve columns alpha omega">
	<section id="hero" class="alpha omega animated fadeInUpBig {% if settings.frontpage_hero_header == blank %}no-text{% endif %}">
		<a href="{{ settings.banner_url }}"><img src="{{ 'hero.jpg' | asset_url }}" alt="{{ settings.frontpage_hero_alt }}"></a>
	</section>
</div>
<!--END BANNER-->
{% endif %}

<section am-Grid-Row="wrap">

  <div am-ZD>
    <img src="{{ 'ZD-01.svg' | asset_url }}"/>
    {% include 'navigation' %}
  </div>

  <div am-DZ>
    <img src="{{ 'DZ-01.svg' | asset_url }}"/>
  </div>



	{% assign collection = collections.[settings.frontpage_collection] %}
	{% for product in collection.products %}
  <div am-Collection-Item>
		{% include 'product-grid-item-new' %}
  </div>
	{% endfor %}

</section>

