{% comment %}{% if settings.show_frontpage_hero == true %}
<!--START BANNER-->
<div class="twelve columns alpha omega">
	<section id="hero" class="alpha omega animated fadeInUpBig {% if settings.frontpage_hero_header == blank %}no-text{% endif %}">
		<a href="{{ settings.banner_url }}"><img src="{{ 'hero.jpg' | asset_url }}" alt="{{ settings.frontpage_hero_alt }}"></a>
	</section>
</div>
<!--END BANNER-->
{% endif %}{% endcomment %}

<section am-Grid-Row="wrap">

  {% include 'zd' %}

  {% comment %}{% include 'dz' %}{% endcomment %}



  <a ng-href="{[{$settings.large_section_url}]}" am-Block="x3"  am-Home-Section="large" ng-if="$settings.show_large_section" am-Flex-Item="order:0">
    <div am-Grid-Col>

      <div am-Home-Section-Img
           zddz-glitch-img data-img-src="{{'large_section_img.jpg' | asset_url}}">
      </div>
      <div am-Home-Section-Text>
        {[{$settings.large_section_text}]}
      </div>

    </div>

  </a>

  <a ng-href="{[{$settings.medium_section_url}]}" am-Block="x2"  am-Home-Section="medium" ng-if="$settings.show_medium_section" am-Flex-Item="order:0">

    <div am-Grid-Col>

        <div am-Home-Section-Img
             zddz-glitch-img data-img-src="{{'medium_section_img.jpg' | asset_url}}">
        </div>
        <div am-Home-Section-Text>
          {[{$settings.medium_section_text}]}
        </div>

      </div>

  </a>

  <a ng-href="{[{$settings.small_section_url}]}" am-Block="x1"  am-Home-Section="small" ng-if="$settings.show_small_section" am-Flex-Item="order:1">

    <div am-Grid-Col>

      <div am-Home-Section-Img
           zddz-glitch-img data-img-src="{{'small_section_img.jpg' | asset_url}}">
      </div>
      <div am-Home-Section-Text>
        {[{$settings.small_section_text}]}
      </div>

    </div>

  </a>

  <div am-DZ am-Flex-Item="order:{[{settingsCtrl.getDZOrder()}]}">
    <div am-offset-bottom="auto" am-Flex-Item="end">
      {% include 'cart-toggle' %}
    </div>
    <img src="{{ 'DZ-01.svg' | asset_url }}"/>
  </div>


	{% assign collection = collections.[settings.frontpage_collection] %}
	{% for product in collection.products %}
  <div am-Collection-Item am-Flex-Item="order:{[{ settingsCtrl.getOrderForCollectionItem({{ forloop.index }})}]}">
		{% include 'product-grid-item-new' %}
  </div>
	{% endfor %}


</section>

