{% if product.compare_at_price > product.price %}{% assign on_sale = true %}{% endif %}
<!--START PRODUCT-->
<div itemscope itemtype="http://schema.org/Product" >
	<meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
	<meta itemprop="image" content="{{ product.featured_image.src | product_img_url: 'grande' }}" />

  <div am-Grid-Row="wrap">
    {% include 'zd' %}

  	<section  am-Grid-Col="12 wide:6" am-height="item-block" am-gutter>

      {% if product.featured_image %}
    		<img am-Featured-Image am-gutter  src="{{ product.featured_image.src | product_img_url: 'master' }}" alt="Product Image" alt="{{ product.featured_image.alt | escape }}" />
      {% endif %}

  	</section>
  	<!-- END PRODUCT IMAGES-->
  	<!--START BUY-->
  	<section id="buy" am-Block am-height="item-block">
  		<form action="/cart/add" method="post" id="product-form" class="quickAdd" enctype="multipart/form-data" am-Flex-Item="fit" am-Grid-Col>

        <div am-Product-Title>{{ product.title }}</div>
  			<div am-Product-Price id="product-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
  			      <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
  			      {% if product.available %}
  			      <link itemprop="availability" href="http://schema.org/InStock" />
  			      {% else %}
  			      <link itemprop="availability" href="http://schema.org/OutOfStock" />
  			      {% endif %}

  				  {% if product.compare_at_price > product.price %}
  		          <del class="product-compare-price">{{ product.compare_at_price_max | money }}</del>&nbsp;<span class="product-price on-sale" itemprop="price">{{ product.price | money }}</span>
  		          {% else %}
  		          <span class="product-price" itemprop="price">{{ product.price | money }}</span>
  		          {% endif %}
  			</div>
  			{% assign hide_default_title = false %}
  		    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
  		        {% assign hide_default_title = true %}
  		    {% endif %}

        <div am-Sizes>
            {% for variant in product.variants %}
             <div am-Size=""> {[{ "{{variant.title}}" | zddzSize }]} </div>
             {% endfor %}
        </div>

  			{% comment %}<div id="product-variants" class="{% if hide_default_title %} hidden{% endif %}">
  		       <select id="product-select" name="id" class="hidden">
  		       {% for variant in product.variants %}
  		         <option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
  		       {% endfor %}
  		       </select>
  		    </div>{% endcomment %}
          <div am-offset-top="auto">
            {{ product.description }}
          </div>

  		   <input type="submit"  am-Button value="Add to cart" id="add" />
  		</form>
  	    {% comment %}{% include 'social-sharing' %}{% endcomment %}
  	</section>
  	<!--END BUY-->
    <section am-Block am-gutter am-height="item-block">
        <a am-Secondary-Image href="{{ product.images[1].src | product_img_url: 'master' }}"" style="background-image:url({{ product.images[1].src | product_img_url: 'grande' }});">
        </a>

        <a am-Secondary-Image href="{{ product.images[2].src | product_img_url: 'master' }}"" style="background-image:url({{ product.images[2].src | product_img_url: 'grande' }});">
        </a>

    </section>

    <section  am-Block am-offset-left="auto" am-gutter am-height="item-block">

      <img am-Secondary-Image src="{{ 'DZ-01.svg' | asset_url }}"/>

      <a am-Secondary-Image href="{{ product.images[3].src | product_img_url: 'master' }}"" style="background-image:url({{ product.images[3].src | product_img_url: 'grande' }});">
      </a>

    </section>
  </div>
  <!-- START PRODUCT IMAGES-->
	{% assign current_product = product.handle %}
	{% assign current_collection = collection.handle %}
	{% assign found_current_product = false %}

	{% if current_collection != blank and collection.all_products_count > 1 %}
  <div am-Grid-Col >
		<!--START PRODUCT GRID-->
		<div am-gutter am-offset-bottom="x1" am-Text>{% if settings.related_products_header == blank %} {% else %}{{ settings.related_products_header }}{% endif %}</div>

    <section id="related-products" am-Grid-Row="wrap">

		{% comment %}Show three products from the current collection but make sure that doesn't include the current product{% endcomment %}
		{% for product in collections.[current_collection].products | limit: 3 %}
			{% if product.handle == current_product %}
				{% assign found_current_product = true %}
			{% endif %}
		{% endfor %}
		{% if found_current_product == true %}
			{% comment %}Get four products but skip the current product - that gives us three products we can show {% endcomment %}
			{% for product in collections.[current_collection].products | limit: 4 %}
				{% unless product.handle == current_product %}
        <div am-Collection-Item>
					{% include 'product-grid-item-new' %}
        </div>
				{% endunless %}
			{% endfor %}
		{% else %}
			{% comment %}Get three products because we know these don't include the current product {% endcomment %}
			{% for product in collections.[current_collection].products | limit: 3 %}
      <div am-Collection-Item>
				{% include 'product-grid-item-new' %}
      </div>
			{% endfor %}
		{% endif %}
		</section>
		<!--END PRODUCT GRID-->
    </div>
	{% endif %}

</div>
<!--END PRODUCT-->
<script>
jQuery(function($) {
  var selectCallback = function(variant, selector) {
    if (variant) {
      if (variant.available) {
        // Selected a valid variant that is available.
        $('#add').removeClass('disabled').removeAttr('disabled').val('Add to Cart').fadeTo(200,1);
      } else {
        // Variant is sold out.
        $('#add').val('Sold Out').addClass('disabled').attr('disabled', 'disabled').fadeTo(200,0.5);
      }
      // Whether the variant is in stock or not, we can update the price and compare at price.
      if ( variant.compare_at_price > variant.price ) {
        $('#product-price').html('<span class="product-price on-sale">'+ Shopify.formatMoney(variant.price, "{{ shop.money_format }}") +'</span>'+'&nbsp;<del class="product-compare-price">'+Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}")+ '</del>');
      } else {
        $('#product-price').html('<span class="product-price">'+ Shopify.formatMoney(variant.price, "{{ shop.money_format }}") + '</span>' );
      }
    } else {
      // variant doesn't exist.
      $('#add').val('Unavailable').addClass('disabled').attr('disabled', 'disabled').fadeTo(200,0.5);
    }
  };
  new Shopify.OptionSelectors('product-select', { product: {{ product | json }}, onVariantSelected: selectCallback });
  // Add label if only one product option and it isn't 'Title'.
  {% if product.options.size == 1 and product.options.first != 'Title' %}
    $('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first }}</label>');
  {% endif %}
  // Auto-select first available variant on page load.
  {% assign found_one_in_stock = false %}
  {% for variant in product.variants %}
    {% if variant.available and found_one_in_stock == false %}
      {% assign found_one_in_stock = true %}
      {% for option in product.options %}
      $('.single-option-selector:eq({{ forloop.index0 }})').val({{ variant.options[forloop.index0] | json }}).trigger('change');
      {% endfor %}
    {% endif %}
  {% endfor %}
});
</script>
